<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.healing.healingdog.beauty.model.dao.BeautyMapper">
<!--  미용실 신청내역 등록  -->
    <insert id="registerBeautyReservation">
        INSERT INTO beauty_reservation_lists
        (
            beauty_reservation_list_code,
            mypet_code,
            beauty_code,
            user_code,
            date,
            time
        )
        VALUES (
                null,
                #{mypetCode},
                #{beautyCode},
                #{userCode},
                #{date},
                NOW()
               )
    </insert>
</mapper>