<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.healing.healingdog.community.model.dao.CommunityMapper">
    <insert id="insertBoardImage" parameterType="ImageTableDTO">
        INSERT
          INTO board_images (
               board_image_code
             , board_code
             , `usage`
             , thumbnail
             , original
             , preview
        ) VALUES (
               NULL
             , #{ refCode }
             , #{ usage }
             , #{ thumbnail }
             , #{ original }
             , #{ preview }
        )
    </insert>

    <select id="selectBoardOriginalUrl" parameterType="_int" resultType="string">
        SELECT
            I.original
        FROM board_images AS I
        WHERE I.board_code = #{ boardCode }
    </select>

    <select id="selectBoardThumbnailUrl" parameterType="_int" resultType="string">
        SELECT
            I.thumbnail
        FROM board_images AS I
        WHERE I.board_code = #{ code }
          AND I.thumbnail IS NOT NULL
    </select>

    <select id="selectBoardPreviewUrl" parameterType="_int" resultType="string">
        SELECT
            I.preview
        FROM board_images AS I
        WHERE I.board_code = #{ boardCode }
    </select>
</mapper>
