<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.healing.healingdog.community.model.dao.CommunityMapper">

    <select id="selectBoardHeadline" resultType="BoardTableDTO">
        SELECT
               B.board_code
             , B.user_code
             , B.board_category_code
             , B.title
             , B.content
             , B.uptime
             , B.view
             , B.share
        FROM boards B
        WHERE B.important = 'O'
    </select>

    <select id="selectBoardCountAll" parameterType="_int" resultType="_int">
        SELECT
               COUNT(*)
          FROM boards
         WHERE 1=1
        <if test="categoryCode != 5">
           AND board_category_code = #{ code }
        </if>
    </select>

    <select id="selectBoardList" parameterType="CatAndPageDataForBoard" resultType="BoardTableDTO">
        SELECT
               B.board_code
             , B.user_code
             , B.board_category_code
             , B.title
             , B.content
             , B.uptime
             , B.view
             , B.share
          FROM(
                SELECT
                       @rownum := @rownum+1 RN
                     , BD.board_code
                     , BD.user_code
                     , BD.board_category_code
                     , BD.title
                     , BD.content
                     , BD.uptime
                     , BD.view
                     , BD.share
                FROM boards BD
                WHERE(@rownum := 0) = 0
                <if test="categoryCode != 5">
                  AND BD.board_category_code = #{ categoryCode }
                </if>
              ) B
         WHERE B.RN <![CDATA[>=]]> #{ start }
           AND B.RN <![CDATA[<=]]> #{ end }
    </select>

    <select id="selectBoardThumbnailUrl" parameterType="_int" resultType="string">
        SELECT
               I.thumbnail
          FROM board_images I
         WHERE I.board_code = #{ code }
           AND I.thumbnail IS NOT NULL
    </select>

    <select id="selectBoardImageCount" parameterType="_int" resultType="_int">
        SELECT
               COUNT(*)
          FROM board_images I
         WHERE I.board_code = #{ code }
    </select>
</mapper>
