<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.healing.healingdog.mypage.model.dao.ProviderMapper">

    <!--  제공자 정보 조회  -->
    <select id="selectMyProviderInfo" resultType="ProviderDTO">
        SELECT
            name
            ,  email
            ,  provider_password
            ,  phone
        FROM providers
        WHERE provider_code = #{providerCode}
    </select>

    <!--  제공자 정보 수정  -->
    <update id="updateMyProviderInfo" parameterType="ProviderDTO">
        UPDATE providers
        SET
            name = #{name},
            email = #{email},
            provider_password = #{providerPassword},
            phone = #{phone}
        WHERE provider_code = #{providerCode}
    </update>

    <!--  제공자 삭제 (탈퇴)  -->
    <delete id="deleteMyProviderInfo" parameterType="_int">
        DELETE
        FROM providers
        WHERE provider_code = #{providerCode}
    </delete>

</mapper>
