<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.healing.healingdog.review.dao.ReviewMapper">


<!--  reviews CRUD  -->

    <select id="selectReviewList" resultType="ReviewDTO">
        SELECT
            *
        FROM reviews
        WHERE
            service_category_code=#{serviceCategoryCode}
    </select>

    <select id="selectReviewCount" resultType="ReviewCountDTO">
        SELECT
            COUNT(reviews_code) as review_count,
            ROUND(AVG(score) , 1) as score_average
        FROM healingdog.reviews
        WHERE
            provider_code = #{providerCode}
            AND service_category_code = #{serviceCategoryCode}
    </select>
<!--
    <insert id="registerBoardingBooking">
        INSERT INTO boarding_bookings
        VALUES (
            NULL,
            #{boardingServiceCode},
            #{userCode},
            #{mypetCode},
            CURRENT_TIMESTAMP,
            #{boardingCategory},
            #{checkIn},
            #{checkOut},
            #{payment}
        )
    </insert>

    <delete id="deleteBoardingBooking">
        DELETE FROM boarding_bookings
        WHERE
            boarding_booking_code=#{boardingBookingCode}
    </delete>
-->

</mapper>
